<% content_for :title, "Login" %>

<div class="off-xs-3 xs-6 text-center info">
    <div class="padding">
        <%= image_tag("/images/logomin.png", :alt => "logo") %>
        <h1>Sistema de Gerenciamento de Armamentos</h1>

        <h1><%= yield :title %></h1>

        <%= render 'form' %>
    </div>
</div>
