<% content_for :title, "Edição de Reserva" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Edição de Reserva</h1>

        <%= render 'form', reserf: @reserf %>
    </div>
</div>
