<h1>Editing Material Reserve Has Ammunition</h1>

<%= render 'form', material_reserve_has_ammunition: @material_reserve_has_ammunition %>

<%= link_to 'Show', @material_reserve_has_ammunition %> |
<%= link_to 'Back', material_reserve_has_ammunitions_path %>
