<%= form_with(model: material_reserf, local: true) do |form| %>
  <% if material_reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material_reserf.errors.count, "error") %> prohibited this material_reserf from being saved:</h2>

      <ul>
      <% material_reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
