<% content_for :title, "Edição de Material Reservado" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Edição de Material Reservado</h1>

        <%= render 'form', material_reserf: @material_reserf %>
    </div>
</div>
