<p id="notice"><%= notice %></p>

<h1>Reservas de Material</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_reserves.each do |m_reserve| %>
      <tr>
        <td><%= m_reserve.id %></td>
        <td><%= link_to 'Show', [@reserve, m_reserve] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', reserve: @reserve %>
