<p id="notice"><%= notice %></p>

<p>
  <strong>Reserve:</strong>
  <%= @material_reserve.reserve %>
</p>

<%= link_to "Armamentos da Reserva", reserf_material_reserf_material_reserve_has_armaments_url(@reserve, @material_reserve) %>
