<% content_for :title, "Usuários" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Edição de Usuário</h1>

        <%= render 'form', user: @user %>
    </div>
</div>
