<% content_for :title, "Soldados" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Adicionar Soldados</h1>
        <%= render 'form', soldier: @soldier %>
    </div>
</div>
