<% content_for :title, "Empréstimos" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Edição de Empréstimos</h1>
        <%= render 'form', loan: @loan %>
    </div>
</div>
