<h1>Editing Material Reserve Has Accessory</h1>

<%= render 'form', material_reserve_has_accessory: @material_reserve_has_accessory %>

<%= link_to 'Show', @material_reserve_has_accessory %> |
<%= link_to 'Back', material_reserve_has_accessories_path %>
