<% content_for :title, "Acessórios" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <h1>Adicionar Acessório</h1>

        <%= render 'form', accessory: @accessory %>
    </div>
</div>
