<% content_for :title, "Acessórios" %>
<p id="notice"><%= notice %></p>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <p>
          <strong>Description:</strong>
          <%= @accessory.description %>
        </p>
    </div>
</div>

<%= link_to 'Voltar', accessories_path, :class => "btn" %>
<%= link_to 'Editar', edit_accessory_path(@accessory), :class => "btn success" %>
